body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    height: 300%;
}

.left-column {
    flex: 1;
    background-color: white;
}

.right-column {
    flex: 2.6;
    background-color: #f0f0f0; /* 灰色背景 */

}


.left-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 40px; /* 添加下方留白 */
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
}

.caption {
    text-align: left;     margin-left: 80px;
    margin-bottom: 40px;
}

.line {
    margin-left: 80px;
    margin-right: 80px;
}

.list-text a {
    margin-left: 80px;
    text-decoration: none; /* 移除超链接下划线 */
    color: #808080; /* 初始灰色文字颜色 */
    transition: color 0.3s; /* 添加颜色过渡效果 */
}

.list-text a:hover {
    color: #555; /* 鼠标悬停时的字体颜色 */
}
.additional-text a:active {
    color: #555; /* 点击链接后的字体颜色 */
}

.white-box {
    width: 80%; /* 白色区域宽度为灰色区域的80% */
    background-color: white; /* 白色背景 */
    padding: 20px; /* 添加内边距 */
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 80px;

}



.right-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 40px; /* 添加下方留白 */
    
    margin-left: 20px;
    margin-right: 20px;
}

.rightcaption {
    text-align: center;     
    margin-left: 80px;
    margin-bottom: 40px;

}

.right-image2 {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 40px; /* 添加下方留白 */
    margin-left: 80px;
    margin-right: 50px;
}
